/* Add here all your CSS customizations */

section#contact {
    background-color: #222;
    background-image: url(../img/map-bottom-dark.png);
    background-position: center;
    background-repeat: no-repeat;
}